<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="assets/versalles.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
         
            <body>

                <div class="sidenav" style=" background-color: transparent !important;">
                  
                   
                <button type="button" class="btn btn-outline-light"><img   data-toggle="tooltip" data-placement="top" title="Actividades" src="assets/actividades.png" alt=""></button>
                <button type="button" class="btn btn-outline-light"><img   data-toggle="tooltip" data-placement="top" title="Anuario" src="assets/anuario.png" alt=""></button>
                <button type="button" class="btn btn-outline-light"><img   data-toggle="tooltip" data-placement="top" title="Invitaciones" src="assets/invitacion.png" alt=""></button>
                <button type="button" class="btn btn-outline-light"><img  data-toggle="tooltip" data-placement="top" title="Graduados" src="assets/graduado.png" alt=""></button>       
                <button type="button" class="btn btn-outline-light"><img   data-toggle="tooltip" data-placement="top" title="Video de la ceremonia" src="assets/grabadora.png" alt=""></button>
                 



                </div>
                
                <div class="main">
                 
                </div>  
                
                </body>

        </div>
      </div>
    </div>
  </header>



