




<div class="container mt-5 fixed-top text-white">
    <br class="mt-5">
    <br class="mt-5">
    
 <div class="mt-5">Lista de Actividades</div>
    
    <div class="row">
        <div class="col-sm-3 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio incidunt 
            quas velit veniam animi aut impedit, vero assumenda inventore. Molestiae error tempora exercitationem at sint, voluptas possimus ipsa placeat?
        </div>
        <div class="col-sm-3 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio incidunt 
            quas velit veniam animi aut impedit, vero assumenda inventore. Molestiae error tempora exercitationem at sint, voluptas possimus ipsa placeat?
        </div>
        <div class="col-sm-3 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio incidunt 
            quas velit veniam animi aut impedit, vero assumenda inventore. Molestiae error tempora exercitationem at sint, voluptas possimus ipsa placeat?
        </div>
        <div class="col-sm-3 mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus optio incidunt 
            quas velit veniam animi aut impedit, vero assumenda inventore. Molestiae error tempora exercitationem at sint, voluptas possimus ipsa placeat?
        </div>
    </div>

</div>
